bitsandbytes==0.42.0
Cython==3.0.8
datasets==2.17.0
editdistance==0.6.0
einops==0.7.0
hydra-core==1.0.7
importlib-metadata==7.0.1
joblib==1.3.2
librosa==0.10.1
multidict==6.0.5
multiprocess==0.70.16
npy-append-array==0.9.16
numba==0.59.0
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.0.6
opencv-python==4.5.4.60
packaging==23.2
pandas==2.2.0
peft
psutil==5.9.8
python-dateutil==2.8.2
python-speech-features==0.6
sacrebleu==2.4.0
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.10.0
sentencepiece==0.1.96
torch
tqdm
transformers
typing_extensions==4.9.0